name: Release

on:
  push:
    tags:
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  Linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Setup
      run: sudo apt install -y libdbus-1-dev pkg-config
    - name: Build
      run: cargo build --release
    - name: Upload Artifacts
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: ncipollo/release-action@v1
      with:
        artifactErrorsFailBuild: true
        draft: true
        omitBody: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        omitPrereleaseDuringUpdate: true
        removeArtifacts: false
        replacesArtifacts: true
        artifacts: "target/release/twistykeys"
  Windows:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Upload Artifacts
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: ncipollo/release-action@v1
      with:
        artifactErrorsFailBuild: true
        draft: true
        omitBody: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        omitPrereleaseDuringUpdate: true
        removeArtifacts: false
        replacesArtifacts: true
        artifacts: "target/release/twistykeys.exe"
