name: Release

on:
  push:
    tags:
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: System Setup
      run: sudo apt install -y libdbus-1-dev pkg-config
    - name: Rust Setup
      run: rustup target add x86_64-pc-windows-msvc
    - name: Build Linux
      run: cargo build --release
    - name: Build Windows
      run: cargo build --release --target=x86_64-pc-windows-msvc
    - name: Upload Artifacts
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
      uses: ncipollo/release-action@v1
      with:
        artifactErrorsFailBuild: true
        draft: true
        omitBody: true
        omitBodyDuringUpdate: true
        omitName: true
        omitNameDuringUpdate: true
        omitPrereleaseDuringUpdate: true
        removeArtifacts: false
        replacesArtifacts: true
        artifacts: "target/release/twistykeys,target/release/twistykeys.exe"
